<%= partial "layouts/dom-header-partial" %>

<%= partial "layouts/header-partial" %>

      <main class="site-main" role="content">
        <div class="container">
          <div class="columns">
            <div class="column-10">
              <article class="article">
                <h1><%= current_article.title %></h1>
                <%= yield %>
              </article>
            </div>
          </div>
        </div>
      </main>

<%= partial "layouts/footer-partial" %>

<%= partial "layouts/dom-footer-partial" %>
