---
pageable: true
per_page: 10
layout: blog_layout
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<div class="container">
  <div class="columns">
    <div class="column-10">
      <% page_articles.each_with_index do |article, i| %>
        <article class="article">
          <time class="article__date" datetime="<%= article.date %>"><%= article.date.strftime('%b %d, %Y') %></time>
          <h2 class="article__title"><%= link_to article.title, article %></h2>
          <%= article.summary(250) %>
        </article>
      <% end %>
    </div>
  </div>
</div>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
