---
title: homepage
---

<div class="section about">
  <div class="section__inner">
    <div class="section__content">
      <p class="lead section__lead">A digital chef who is passionate about user experience, clean semantic code and who fully embraces collaboration</p>
      <p>Beyond my passion for making, I enjoy cooking and <strong>eating</strong>, jogging, and the performing arts.</p>
<!--       <div class="section__note">
        <p>*Works section is still in progress.</p>
      </div> -->
    </div>
  </div>
</div>


<div id="works" class="section works">
  <div class="section__inner">
    <div class="section__content">

      <div class="block work-list">

        <div class="block-item work-item work-item--lindsayolives">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">The fun and flavors</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Redesign for Lindsay Olives</span></h3>
            <p><a href="http://lindsayolives.com" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop mobile">
              <%= render_device_asset(image_path('lindsayolives-homepage--desktop.png'), 'Desktop view of Lindsay Olives website.', 'desktop',
              image_path('lindsayolives-products--desktop.png'), image_path('lindsayolives-product--desktop.png'), image_path('lindsayolives-recipes--desktop.png'), image_path('lindsayolives-recipe--desktop.png'), image_path('lindsayolives-wof--desktop.png'), image_path('lindsayolives-wof_olives--desktop.png'), image_path('lindsayolives-story--desktop.png')) %>
              <%= render_device_asset(image_path('lindsayolives-homepage--mobile.png'), 'Mobile view of Lindsay Olives website.', 'mobile', image_path('lindsayolives-recipe--mobile.png')) %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://activeingredients.com/" target="_blank" class="link--external">Active Ingredients</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>Front-end Development</li>
                          <li>Responsive Development</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>ModX</li>
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>PHP</li>
                          <li>Grunt</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://lindsayolives.com" target="_blank" class="link--external">Lindsay Olives</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>Whether sharing a delicious meal, entertaining friends and family or adding some unexpected fun into special moments, Lindsay Olive's mission is to help bring fun and flavor to their customers’ lives.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--cmap">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">Addressing the quality-of-life issues</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Platform for Chicago Metropolitan Agency for Planning</span></h3>
            <p><a href="http://cmap.illinois.gov" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop tablet mobile">
              <%= render_device_asset(image_path('cmap-homepage--desktop.png'), 'Desktop view of Chicago Metropolitan Agency for Planning website.', 'desktop', image_path('cmap-level1--desktop.png'), image_path('cmap-level2--desktop.png'), image_path('cmap-metropluse_landing--desktop.png'), image_path('cmap-metropluse_page--desktop.png')) %>
              <%= render_device_asset(image_path('cmap-homepage--tablet.png'), 'Tablet view of Chicago Metropolitan Agency for Planning website.', 'tablet', image_path('cmap-level1--tablet.png')) %>
              <%= render_device_asset(image_path('cmap-homepage--mobile.png'), 'Mobile view of Chicago Metropolitan Agency for Planning website.', 'mobile', image_path('cmap-level1--mobile.png')) %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://cmap.illinois.gov/" target="_blank" class="link--external">CMAP</a></li>
                          <li><a href="http://3st.com/" target="_blank" class="link--external">Thirst</a></li>
                          <li><a href="http://workstate.com/" target="_blank" class="link--external">Workstate</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>IA</li>
                          <li>UX</li>
                          <li>Front-end Development</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>Liferay</li>
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>Velocity (VTL)</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://cmap.illinois.gov" target="_blank" class="link--external">Chicago Metropolitan Agency for Planning</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>CMAP is the official regional planning organization for northeastern Illinois. Website content is categorized to reflect the agency’s work plan and allows visitors and staff to access and share information more freely.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--tiptonic">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">Music at your fingertips</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Single page website for Tiptonic</span></h3>
            <p><a href="http://tiptonic.com" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop tablet mobile">
              <%= render_device_asset(image_path('tonetips-homepage--desktop.png'), 'Desktop view of Tiptonic website.', 'desktop') %>
              <%= render_device_asset(image_path('tonetips-homepage--tablet.png'), 'Tablet view of Tiptonic website.', 'tablet') %>
              <%= render_device_asset(image_path('tonetips-homepage--mobile.png'), 'Mobile view of Tiptonic website.', 'mobile') %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://activeingredients.com/" target="_blank" class="link--external">Active Ingredients</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>UX</li>
                          <li>Front-end Development</li>
                          <li>Responsive Web Design</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>Grunt</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://tiptonic.com" target="_blank" class="link--external">Tiptonic</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>Customized for a fit that gives a richer, fuller, and more balanced sound, Patented Tone Tips called for an equally rich web experience. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--watchdox">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">A simple, clean, and responsive one-pager</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Landing page for WatchDox</span></h3>
            <p><a href="http://www.watchdox.com/" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop tablet mobile">
              <%= render_device_asset(image_path('watchdox-homepage--desktop.png'), 'Desktop view of WatchDox website.', 'desktop') %>
              <%= render_device_asset(image_path('watchdox-homepage--tablet.png'), 'Tablet view of WatchDox website.', 'tablet') %>
              <%= render_device_asset(image_path('watchdox-homepage--mobile.png'), 'Tablet view of WatchDox website.', 'mobile') %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://activeingredients.com/" target="_blank" class="link--external">Active Ingredients</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>Front-end Development</li>
                          <li>Responsive Web Design</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>SASS</li>
                          <li>HTML</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://www.watchdox.com/" target="_blank" class="link--external">WatchDox</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>WatchDox allows enterprise-grade security file sharing and collaboration in the clouds for their users across multiple devices.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--compasshealthcenter">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">Premier psychiatric care center</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">CMS for Compass Health Center</span></h3>
            <p><a href="http://www.compasshealthcenter.net/" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop mobile">
              <%= render_device_asset(image_path('compass_health_center-homepage--desktop.png'), 'Desktop view of Compass Health Center website.', 'desktop', image_path('compass_health_center-new_patient--desktop.png')) %>
              <%= render_device_asset(image_path('compass_health_center-homepage--mobile.png'), 'Mobile view of Compass Health Center website.', 'mobile', image_path('compass_health_center-faq--mobile.png')) %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://www.turinggroup.com/" target="_blank" class="link--external">Turing Group</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>IA</li>
                          <li>UX</li>
                          <li>Design</li>
                          <li>Front-end Development</li>
                          <li>Back-end Development</li>
                          <li>Responsive Web Design</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>WordPress</li>
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>PHP</li>
                          <li>Grunt</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://www.compasshealthcenter.net/" target="_blank" class="link--external">Compass Health Center</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>Emphasizing an updated aesthetic for growing content, design for this site focuses on maintaining simplicity while optimizing navigational flow.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--darrellgrandmoultrie">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">Award-winning choreographer and master teacher</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Portfolio for Darrell Grand Moultrie</span></h3>
            <p><a hhref="http://darrellgrandmoultrie.com" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop tablet mobile">
              <%= render_device_asset(
                image_path('darrel_grand_moultrie-homepage1--desktop.png'),
                'Desktop view of Darrell Grand Moultrie website.',
                'desktop',
                image_path('darrel_grand_moultrie-homepage2--desktop.png'),
                image_path('darrel_grand_moultrie-works--desktop.png'),
                image_path('darrel_grand_moultrie-work1--desktop.png'),
                image_path('darrel_grand_moultrie-work2--desktop.png')
              ) %>
              <%= render_device_asset(
                image_path('darrel_grand_moultrie-bio--tablet.png'),
                'Tablet view of Darrell Grand Moultrie website.',
                'tablet',
                image_path('darrel_grand_moultrie-work1--tablet.png')
              ) %>
              <%= render_device_asset(
                image_path('darrel_grand_moultrie-homepage--mobile.png'),
                'Mobile view of Darrell Grand Moultrie website.',
                'mobile'
              ) %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://darrellgrandmoultrie.com/" target="_blank" class="link--external">Darrell Grand Moultrie</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>IA</li>
                          <li>UX</li>
                          <li>Design</li>
                          <li>Front-end Development</li>
                          <li>Back-end Development</li>
                          <li>Responsive Web Design</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>WordPress</li>
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>PHP</li>
                          <li>Grunt</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://darrellgrandmoultrie.com" target="_blank" class="link--external">Darrell Grand Moultrie</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>The idea was clear: bring the user into Darrell's world by creating visual atmosphere with large photography and bold colors.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--rebeldocumentary">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">A documentary on the American Civil War</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Informative website for Rebel</span></h3>
            <p><a href="http://www.rebeldocumentary.com/" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop mobile">
              <%= render_device_asset(image_path('rebel-film--desktop.png'), 'Desktop view of Rebel website.', 'desktop') %>
              <%= render_device_asset(image_path('rebel-film--mobile.png'), 'Mobile view of Rebel website.', 'mobile') %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://www.iguanafilms.com/" target="_blank" class="link--external">Iguana Films</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>IA</li>
                          <li>UX</li>
                          <li>Design</li>
                          <li>Front-end Development</li>
                          <li>Back-end Development</li>
                          <li>Responsive Web Design</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>WordPress</li>
                          <li>SASS</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>PHP</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://www.rebeldocumentary.com/" target="_blank" class="link--external">Rebel</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>Iguana Films&rsquo; first online presence, this documentary film’s site aims to educate visitors about the Civil War and the brave Loretta Velazquez.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block-item work-item work-item--handsonformusicalexperience">
          <div class="block-item__inner work-item__inner">
            <h4 class="block-item__tagline work-item__tagline"><span class="ir-copy">Art and music education for children</span></h4>
            <h3 class="block-item__title work-item__title"><span class="ir-copy">Website for Hands On! A Musical Experience</span></h3>
            <p><a href="http://www.handsonformusic.com/" class="btn btn--ghost block-item__cta work-item__cta">More Info</a></p>
            <div class="work-item-devices desktop">
              <%= render_device_asset(
                image_path('hands_on_for_music-homepage--desktop.png'),
                'Desktop view of Hands On! A Musical Experience website.',
                'desktop',
                image_path('hands_on_for_music-schedule--desktop.png'),
                image_path('hands_on_for_music-contact--desktop.png')
              ) %>
            </div>
            <div class="work-item__details">
              <div class="details__inner">
                <h5 class="details__title">Brief</h5>
                <div class="columns">
                  <div class="column-3">
                    <div class="detail__item">
                      <div class="detail__title">Collaborators</div>
                      <div class="detail__content">
                        <ul class="list-clean">
                          <li><a href="http://handsonformusic.com/" target="_blank" class="link--external">Hands On! A Musical Experience</a></li>
                          <li><a href="http://www.itschongday.com/" target="_blank" class="link--external">Daniel Chong</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Responsibilities</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>IA</li>
                          <li>UX</li>
                          <li>Back-end Development</li>
                        </ul>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Technology Stack</div>
                      <div class="detail__content">
                        <ul class="list-horizontal">
                          <li>WordPress</li>
                          <li>Less</li>
                          <li>jQuery</li>
                          <li>HTML</li>
                          <li>PHP</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="column-9">
                    <div class="detail__item">
                      <div class="detail__title">Project</div>
                      <div class="detail__content">
                        <p><a href="http://www.handsonformusic.com/" target="_blank" class="link--external">Hands On! A Musical Experience</a></p>
                      </div>
                    </div>
                    <div class="detail__item">
                      <div class="detail__title">Description</div>
                      <div class="detail__content">
                        <p>With increasing attendance and growing dynamic curriculum, this school needs a platform to facilitate parent engagement.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>